<a href="https://colab.research.google.com/github/kabirodavies/-Machine-Learning-Advanced-Regression/blob/main/spain_electricity_shortfall_challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Spain Electricity Shortfall Challenge

# Spain Electricity Shortfall Challenge!

The supply of electricity plays a large role in the livelihood of citizens in a country. Electricity, amongst other things, helps us stay connected, keep warm, and feed our families. Therefore there's a need to keep the lights on in order to maintain and improve the standard of living by investing in electricity infrastructure. However, in recent years, there has been evidence that the use of purely non-renewable sources is not sustainable.

The government of Spain is considering an expansion of its renewable energy resource infrastructure investments. As such, they require information on the trends and patterns of the country's renewable sources and fossil fuel energy generation. For this very reason, the government of Spain has been tracking the different energy sources available within the country.

In this project, you are tasked to model the shortfall between the energy generated by means of fossil fuels and various renewable sources - for the country of Spain. The daily shortfall, which will be referred to as the target variable, will be modelled as a function of various city-specific weather features such as `pressure`, `wind speed`, `humidity`, etc.

**Let's do the neccessary imports:**

In [1]:
%matplotlib notebook
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from mpl_toolkits.mplot3d import Axes3D

**Define our datasets for training and testing:**

In [12]:
df = pd.read_csv('https://raw.githubusercontent.com/kabirodavies/-Machine-Learning-Advanced-Regression/main/df_train.csv', index_col=0)
# df_test = pd.read_csv('df_test.csv', index_col=0)

# **1.Understand the data**
**Let's take a look at the data we are dealing with!**

In [13]:
df.head()

                  time  Madrid_wind_speed  ... Madrid_temp_min  load_shortfall_3h
0  2015-01-01 03:00:00           0.666667  ...      265.938000        6715.666667
1  2015-01-01 06:00:00           0.333333  ...      266.386667        4171.666667
2  2015-01-01 09:00:00           1.000000  ...      272.708667        4274.666667
3  2015-01-01 12:00:00           1.000000  ...      281.895219        5075.666667
4  2015-01-01 15:00:00           1.000000  ...      280.678437        6620.666667

[5 rows x 48 columns]

In [14]:
df.tail()

                     time  ...  load_shortfall_3h
8758  2017-12-31 09:00:00  ...         -28.333333
8759  2017-12-31 12:00:00  ...        2266.666667
8760  2017-12-31 15:00:00  ...         822.000000
8761  2017-12-31 18:00:00  ...        -760.000000
8762  2017-12-31 21:00:00  ...        2780.666667

[5 rows x 48 columns]

In [15]:
df.shape

(8763, 48)

In [16]:
df.describe()

       Madrid_wind_speed  Bilbao_rain_1h  ...  Madrid_temp_min  load_shortfall_3h
count        8763.000000     8763.000000  ...      8763.000000        8763.000000
mean            2.425729        0.135753  ...       287.202203       10673.857612
std             1.850371        0.374901  ...         9.206237        5218.046404
min             0.000000        0.000000  ...       264.983333       -6618.000000
25%             1.000000        0.000000  ...       280.299167        7390.333333
50%             2.000000        0.000000  ...       286.083333       11114.666667
75%             3.333333        0.100000  ...       293.884500       14498.166667
max            13.000000        3.000000  ...       310.383333       31904.000000

[8 rows x 45 columns]

In [17]:
df.nunique()

time                    8763
Madrid_wind_speed         38
Valencia_wind_deg         10
Bilbao_rain_1h            20
Valencia_wind_speed       58
Seville_humidity         274
Madrid_humidity          280
Bilbao_clouds_all        277
Bilbao_wind_speed         39
Seville_clouds_all       246
Bilbao_wind_deg         1042
Barcelona_wind_speed      39
Barcelona_wind_deg       974
Madrid_clouds_all        250
Seville_wind_speed        38
Barcelona_rain_1h         31
Seville_pressure          25
Seville_rain_1h           17
Bilbao_snow_3h            83
Barcelona_pressure       189
Seville_rain_3h           50
Madrid_rain_1h            19
Barcelona_rain_3h         77
Valencia_snow_3h           6
Madrid_weather_id        289
Barcelona_weather_id     269
Bilbao_pressure          205
Seville_weather_id       301
Valencia_pressure        143
Seville_temp_max        3294
Madrid_pressure          298
Valencia_temp_max       3387
Valencia_temp           4531
Bilbao_weather_id        356
Seville_temp            6702
Valencia_humidity        260
Valencia_temp_min       3458
Barcelona_temp_max      2648
Madrid_temp_max         3606
Barcelona_temp          4233
Bilbao_temp_min         3542
Bilbao_temp             6676
Barcelona_temp_min      2572
Bilbao_temp_max         3700
Seville_temp_min        3304
Madrid_temp             6810
Madrid_temp_min         3856
load_shortfall_3h       8077
dtype: int64

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8763 entries, 0 to 8762
Data columns (total 48 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   time                  8763 non-null   object
 1   Madrid_wind_speed     8763 non-null   float64
 2   Valencia_wind_deg     8763 non-null   object
 3   Bilbao_rain_1h        8763 non-null   float64
 4   Valencia_wind_speed   8763 non-null   float64
 5   Seville_humidity      8763 non-null   float64
 6   Madrid_humidity       8763 non-null   float64
 7   Bilbao_clouds_all     8763 non-null   float64
 8   Bilbao_wind_speed     8763 non-null   float64
 9   Seville_clouds_all    8763 non-null   float64
 10  Bilbao_wind_deg       8763 non-null   float64
 11  Barcelona_wind_speed  8763 non-null   float64
 12  Barcelona_wind_deg    8763 non-null   float64
 13  Madrid_clouds_all     8763 non-null   float64
 14  Seville_wind_speed    8763 non-null   float64
 15  Barcelona_rain_1h     8763 non-null   float64
 16  Seville_pressure      8763 non-null   object
 17  Seville_rain_1h       8763 non-null   float64
 18  Bilbao_snow_3h        8763 non-null   float64
 19  Barcelona_pressure    8763 non-null   float64
 20  Seville_rain_3h       8763 non-null   float64
 21  Madrid_rain_1h        8763 non-null   float64
 22  Barcelona_rain_3h     8763 non-null   float64
 23  Valencia_snow_3h      8763 non-null   float64
 24  Madrid_weather_id     8763 non-null   float64
 25  Barcelona_weather_id  8763 non-null   float64
 26  Bilbao_pressure       8763 non-null   float64
 27  Seville_weather_id    8763 non-null   float64
 28  Valencia_pressure     6695 non-null   float64
 29  Seville_temp_max      8763 non-null   float64
 30  Madrid_pressure       8763 non-null   float64
 31  Valencia_temp_max     8763 non-null   float64
 32  Valencia_temp         8763 non-null   float64
 33  Bilbao_weather_id     8763 non-null   float64
 34  Seville_temp          8763 non-null   float64
 35  Valencia_humidity     8763 non-null   float64
 36  Valencia_temp_min     8763 non-null   float64
 37  Barcelona_temp_max    8763 non-null   float64
 38  Madrid_temp_max       8763 non-null   float64
 39  Barcelona_temp        8763 non-null   float64
 40  Bilbao_temp_min       8763 non-null   float64
 41  Bilbao_temp           8763 non-null   float64
 42  Barcelona_temp_min    8763 non-null   float64
 43  Bilbao_temp_max       8763 non-null   float64
 44  Seville_temp_min      8763 non-null   float64
 45  Madrid_temp           8763 non-null   float64
 46  Madrid_temp_min       8763 non-null   float64
 47  load_shortfall_3h     8763 non-null   float64
dtypes: float64(45), object(3)
memory usage: 3.3+ MB

In [19]:
df.columns

Index(['time', 'Madrid_wind_speed', 'Valencia_wind_deg', 'Bilbao_rain_1h',
       'Valencia_wind_speed', 'Seville_humidity', 'Madrid_humidity',
       'Bilbao_clouds_all', 'Bilbao_wind_speed', 'Seville_clouds_all',
       'Bilbao_wind_deg', 'Barcelona_wind_speed', 'Barcelona_wind_deg',
       'Madrid_clouds_all', 'Seville_wind_speed', 'Barcelona_rain_1h',
       'Seville_pressure', 'Seville_rain_1h', 'Bilbao_snow_3h',
       'Barcelona_pressure', 'Seville_rain_3h', 'Madrid_rain_1h',
       'Barcelona_rain_3h', 'Valencia_snow_3h', 'Madrid_weather_id',
       'Barcelona_weather_id', 'Bilbao_pressure', 'Seville_weather_id',
       'Valencia_pressure', 'Seville_temp_max', 'Madrid_pressure',
       'Valencia_temp_max', 'Valencia_temp', 'Bilbao_weather_id',
       'Seville_temp', 'Valencia_humidity', 'Valencia_temp_min',
       'Barcelona_temp_max', 'Madrid_temp_max', 'Barcelona_temp',
       'Bilbao_temp_min', 'Bilbao_temp', 'Barcelona_temp_min',
       'Bilbao_temp_max', 'Seville_temp_min', 'Madrid_temp', 'Madrid_temp_min',
       'load_shortfall_3h'],
      dtype='object')

# **2.Clean the data**

In [20]:
df.isnull().sum()

time                       0
Madrid_wind_speed          0
Valencia_wind_deg          0
Bilbao_rain_1h             0
Valencia_wind_speed        0
Seville_humidity           0
Madrid_humidity            0
Bilbao_clouds_all          0
Bilbao_wind_speed          0
Seville_clouds_all         0
Bilbao_wind_deg            0
Barcelona_wind_speed       0
Barcelona_wind_deg         0
Madrid_clouds_all          0
Seville_wind_speed         0
Barcelona_rain_1h          0
Seville_pressure           0
Seville_rain_1h            0
Bilbao_snow_3h             0
Barcelona_pressure         0
Seville_rain_3h            0
Madrid_rain_1h             0
Barcelona_rain_3h          0
Valencia_snow_3h           0
Madrid_weather_id          0
Barcelona_weather_id       0
Bilbao_pressure            0
Seville_weather_id         0
Valencia_pressure       2068
Seville_temp_max           0
Madrid_pressure            0
Valencia_temp_max          0
Valencia_temp              0
Bilbao_weather_id          0
Seville_temp               0
Valencia_humidity          0
Valencia_temp_min          0
Barcelona_temp_max         0
Madrid_temp_max            0
Barcelona_temp             0
Bilbao_temp_min            0
Bilbao_temp                0
Barcelona_temp_min         0
Bilbao_temp_max            0
Seville_temp_min           0
Madrid_temp                0
Madrid_temp_min            0
load_shortfall_3h          0
dtype: int64

In [27]:
#Replace the nan values in "Valencia_pressure" with the mean.
df['Valencia_pressure'].fillna(value = df['Valencia_pressure'].mean() ,inplace=True)

**Remove columns that are not needed!** (Objects)

In [22]:
new_df = df.drop(['Seville_pressure', 'Valencia_wind_deg'],axis=1)
new_df.shape

(8763, 46)

**Check for outliers**

In [23]:
#Check for ooutliers for "Valencia_pressure" column
# new_df.kurtosis()

#  **Relationship Analysis**

In [28]:
df1 = new_df.copy()

In [ ]:
# Due to the number of visuals created, this codeblock takes about one minute to run.
from seaborn import pairplot
g = pairplot(df1.drop('load_shortfall_3h', axis='columns'))
g.fig.set_size_inches(9,9)

fig, axs = plt.subplots(2,5, figsize=(14,6),)
fig.subplots_adjust(hspace = 0.5, wspace=.2)
axs = axs.ravel()

for index, column in enumerate(new_df.columns):
    axs[index-1].set_title("{} vs. load_shortfall_3h".format(column),fontsize=16)
    axs[index-1].scatter(x=new_df[column],y=new_df['load_shortfall_3h'],color='blue',edgecolor='k')
    
fig.tight_layout(pad=1)

In [ ]:
fig, axs = plt.subplots(7,7, figsize=(14,6),)
fig.subplots_adjust(hspace = 0.5, wspace=.2)
axs = axs.ravel()

for index, column in enumerate(df.columns):
    axs[index-1].set_title("{} vs. load_shortfall_3h".format(column),fontsize=16)
    axs[index-1].scatter(x=df[column],y=df['load_shortfall_3h'],color='blue',edgecolor='k')
    
fig.tight_layout(pad=1)

In [ ]:
# Check for correlation
correlation = new_df.corr()

**As we can see, the Test dataset Lacks the "load_shortfall" column, which is our Target!**

In [ ]:
# Check for quartiles
new_df.quantile([0.25, 0.5, 0.75], axis = 0)

,Madrid_wind_speed,Bilbao_rain_1h,Valencia_wind_speed,Seville_humidity,Madrid_humidity,Bilbao_clouds_all,Bilbao_wind_speed,Seville_clouds_all,Bilbao_wind_deg,Barcelona_wind_speed,...,Madrid_temp_max,Barcelona_temp,Bilbao_temp_min,Bilbao_temp,Barcelona_temp_min,Bilbao_temp_max,Seville_temp_min,Madrid_temp,Madrid_temp_min,load_shortfall_3h
0.25,1.000000,0.0,1.000000,44.333333,36.333333,10.0,0.666667,0.0,73.333333,1.666667,...,282.150000,284.973443,280.085167,281.374167,284.150000,282.836776,285.816667,281.404281,280.299167,7390.333333
0.50,2.000000,0.0,1.666667,65.666667,58.000000,45.0,1.000000,0.0,147.000000,2.666667,...,288.116177,289.416667,284.816667,286.158333,288.150000,287.630000,290.816667,287.053333,286.083333,11114.666667
0.75,3.333333,0.1,3.666667,82.000000,78.666667,75.0,2.666667,20.0,234.000000,4.000000,...,296.816667,294.909000,289.816667,291.034167,292.966667,292.483333,297.150000,295.154667,293.884500,14498.166667

# **4.Fitting the model**

In [ ]:
X = new_df.values[:, -1:]
y = new_df.values[:, 2:-1]
# y = data_copy.values[:, :-1]

In [ ]:
# import regression module
from sklearn.linear_model import LinearRegression

In [ ]:
lm = LinearRegression()

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
# split into train and test
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    test_size=0.20,
                                                    random_state=1)

In [ ]:
# train model
lm.fit(X_train, y_train)

LinearRegression()